{% extends "base.html" %}

{% block content %}
	  <h1>
    TODO list
    <a href="{% url 'workspace:task-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
    </h1>
  {% for task in tasks.all %}
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <p class="font-weight-bold">
          {{ task.content }}
            <strong class="text-{% if tasks.status %}success{% else %}danger{% endif %}">
              {% if tasks.status %}
              	done
              {% else %}
                Not done
              {% endif %}
            </strong>
          </p>
        </div>
        <p>Created: {{ task.datetime }}
        DeadLine: {{ task.deadline }}</p>
        <p>
        Tags:
        {% for tag in task.tags.all %}
          {{ tag.name }}
        {% endfor %}
      </p>
        <hr>
        <a href="{% url 'workspace:task-delete' pk=task.id %}">DELETE</a> |
        <a href="{% url 'workspace:task-update' pk=task.id %}">UPDATE</a>
      </div>

    </div>

  {% endfor %}

{% endblock %}