{% extends "base.html" %}

{% block content %}
  <h1>Tags</h1>
  <a href="{% url 'workspace:tag-create' %}" class="btn btn-primary">Add Tag</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for tag in tag_list.all %}
        <tr>
          <td>{{ tag.name }}</td>
          <td><a href="{% url 'workspace:tag-update' tag.id %}"><i class="btn btn-secondary">Update</i></a></td>
          <td><a href="{% url 'workspace:tag-delete' tag.id %}"><i class="btn btn-secondary">Delete</i></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
